@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #1B1B1B;
    color: #EEE;
}

h1 {
  @apply text-center p-8 font-bold text-3xl
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}



.grass{
    background-color: #102A15;
}
.fighting{
    background-color: #3A3210;
}
.flying{
    background-color: #60CCFF;
}
.fire{
    background-color: #FF9020;
    color: #000;
}
.water{
    background-color: #001A3C;
}
.bug{
    background-color: #AAFFBC;
    color: #000;
}
.poison{
    background-color: #402A40;
}
.ground{
    background-color: #452A00;
}
.rock {
    background-color: #502300;
}
.ghost {
    background-color: #F0AAF0;
}
.steel {
    back-ground :#555;
}
.electric {
    background-color: #FFEF00;
    color: #000
}
.psychic {
    background-color: #4e003c;
}
.ice {
    background-color: #BBDEEC;
    color: #000;
}
.dragon {
    background-color: #aa8020;
}
.dark {
    background-color: #1b1b1b;
}
.fairy{
    background-color: #ffC0ff;
    color: #000;
}
.stellar {
    background-color: #040273;
}
.normal {
    background-color: #DDDDFF;
    color: #000
}
.unknown {
    background-color: #000;
}
